
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color:lightgrey;
  color: black;
  display:inline-block;
 }


#italic{
   font-style: italic;
}